# Large data files
data/WPP2024_POP_F01_1_POPULATION_SINGLE_AGE_BOTH_SEXES.xlsx
data/WPP2024_GEN_F01_DEMOGRAPHIC_INDICATORS_COMPACT.xlsx

# R specific
.Rproj.user/
.Rhistory
.RData
.Ruserdata
*.Rproj

# OS specific
.DS_Store
